[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyterlab = "*"

[packages]
flask = "*"
requests = "*"
bs4 = "*"
pyopenssl = "*"
python-twitch-irc = "*"
python-twitch-stream = "*"
twitchio = "*"
numpy = "*"
better-exceptions = "*"
lxml = "*"
gtts = "*"
flask-socketio = "*"

[requires]
python_version = "3.8"
