<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>弹幕墙</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
        $(document).ready(function(){
            // 弹幕定时器
            var timers = [];
            // 控制弹幕显隐变量
            var isShow = true;
            // 监听发送按钮

            var socket = io.connect('http://' + document.domain + ':' + location.port);
            var playing = false;

            //listens to 'price update' message on socket
            socket.on('new comment', function(msg) {
                // 创建弹幕
                var jqueryDom = createScreenbullet(msg.comment);
                // 添加定时任务
                addInterval(jqueryDom);
            });

            $("#send").on("click", function () {
                // 创建弹幕
                var jqueryDom = createScreenbullet($("#screenBulletText").val());
                // 添加定时任务
                addInterval(jqueryDom);
            });
            // 监听关闭弹幕按钮
            $("#clear").on("click", function () {
                if (isShow) {
                    $(".bullet").css("opacity", 0);
                    isShow = false;
                } else {
                    $(".bullet").css("opacity", 1);
                    isShow = true;
                }   
            });
            // 新建一个弹幕
            function createScreenbullet(text) {
                var jqueryDom = $("<div class='bullet'>" + text + "</div>");
                // var fontColor = "rgb(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random()) + ")";
                var fontColor = "rgb(255, 255, 255)";
                // var fontSize = Math.floor((Math.random() + 1) * 24) + "px";
                var fontSize = "24px";
                var left = $(".screen_container").width() + "px";
                var top = Math.floor(Math.random() * $(".screen_container").height()) + "px";
                
                jqueryDom.css({
                    "position": 'absolute',
                    "color": fontColor,
                    "font-size": fontSize,
                    "left": left,
                    "top": top,
                    "white-space": "nowrap",
                });
                $(".screen_container").append(jqueryDom);
                return jqueryDom;
            }
            // 为弹幕添加定时任务
            function addInterval(jqueryDom) {
                var left = jqueryDom.offset().left - $(".screen_container").offset().left;
                var timer = setInterval(function () {
                    left--;
                    jqueryDom.css("left", left + "px");
                    if (jqueryDom.offset().left + jqueryDom.width() < $(".screen_container").offset().left) {
                        jqueryDom.remove();
                        clearInterval(timer);
                    }
                }, 10);
                timers.push(timer);
            }
        });
    </script>
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
        }
        .screen_container{
            float: left;
            width: 100%;
            height: 100%;
            background: hsla(0, 100%, 50%, 0);
            overflow: hidden;
        }
        .screen_toolbar{
            width: 600px;
            margin: 20px auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="screen_container"></div>
</body>
</html>

